# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Debug
/x64
/.vs
/OpenGL-House
/OpenGLProject
OpenGLProject.vcxproj
OpenGLProject.vcxproj.filters
OpenGLProject.vcxproj

*.vcxproj
*.vcxproj
OpenGLProject.vcxproj
*.vcxproj
OpenGLProject.vcxproj
